<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="/favicon.ico">

		<title>{% block title %}Marble Block{% endblock %}</title>
		<link rel="stylesheet" href="/css/vendors/bootstrap.css">
		<link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.css">
		<link rel="stylesheet" href="/css/main.css">
		{% block head %}{% endblock %}
	</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Marble Block</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a>{{user.displayName}}</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		{% block content %}{% endblock %}
	</div>
	<div id="footer">
		<div class="container">
			<div class="content">Place sticky footer content here.</div>
		</div>
	</div>	
	<script type="text/javascript" src="/js/vendors/jquery.js"></script>
	<script type="text/javascript" src="/js/vendors/bootstrap.js"></script>
</body>
</html>