{% extends '../layouts/main.html' %}

{% block title %}My Page{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
	<form class="form-signin" method="POST" action="/signup">
		<h2 class="form-signin-heading">Sign in</h2>
		<p>Name</p>
		<input type="text" name="displayName" class="form-control" placeholder="Name" required="" autofocus="">		
		<p>Email</p>
		<input type="email" name="email" class="form-control" placeholder="Email address" required="">
		<p>Password</p>
		<input type="password" name="password" class="form-control" placeholder="Password" required="">
		<p>Retype Password</p>
		<input type="password" name="repassword" class="form-control" placeholder="Password" required="">
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	</form>
</div>
{% endblock %}